.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.searchTitle{
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.select_type{
  width: 95%;
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
  margin-left: 5px;
  background-color: darkslategray;
}

.select_facility{
  width: 95%;
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
  margin-left: 5px;
}

.post{
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.picture{
  width:150px;
  height: 90px;
  float: left;
  object-fit: cover;
  margin-right: 5px;
}

.tendency{
  background-color: #2a3243;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* */



/* */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
